<ul class="collection col s12 m12 l12" *ngFor="let post of topPosts"> <!--example has l10 -->
  <li class="collection-item avatar">
    <img src="http://placehold.it/50x50" alt="" class="circle">
    <span class="title">{{post.username}}</span>
    <p class="time">{{[TimeFromNow(post.created)]}}
      <!-- <br> Country -->
    </p> 
  </li>
  <div class="row">
    <div class="col s12">
      <div class="card">
  <!-- <div class="card-image">
<img class = "pstImage" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_BNNBuB9QYK9Exn80HSH0fFfhBC_h-TCqUCIzDfTlnD26OlUX">
</div> -->
<div class="card-content">
  <p>{{post.post}}</p>
</div>
<div class="card-action">
  <i (click)="LikePost(post)" [ngClass]="(!CheckInLikesArray(post.likes,user.username)) ? 'notLiked' : 'liked'" class = "material-icons">thumb_up</i>
  <span class="iconsSpan">
    {{post.totalLikes}}
  </span>
  <i class = "material-icons" [ngClass]="(!CheckInLikesArray(post.comments,user.username)) ? 'notLiked' : 'liked'" (click)="OpenCommentBox(post)">chat</i>
  <span class="iconsSpan">
    {{post.comments.length}}
  </span>

</div>
      </div>
    </div>
    </div>
  </ul>
  